# Required for ESLint to find transitive plugin dependencies in pnpm's strict node_modules
# basically vscode eslint extension will start crying if I dont do this 
public-hoist-pattern[]=*eslint-plugin-*
public-hoist-pattern[]=*@eslint/*